/* HEADER */
.nav-wrapper ul a {
   text-decoration: none;
}
.sidenav li a {
   text-decoration: none;
}
/* Navbar */
.container .brand-logo img {
   width: 110px;
   height: 110px;
   margin-top: -25px;
}
.container .fitur {
   font-family: 'Poppins';
}

.judulnav {
   font-size: 24px;
   margin-left: 100px;
   font-family: 'Sulphur Point';
   font-weight: 700;
}

/* Sidenav */
.sidenav {
   font-family: 'Poppins';
}

/* Galeri */

.galeribu span {
   font-family: "Sulphur Point" !important;

   font-size: 40px !important;

   font-weight: normal !important;

}

.galeribu h2 {
   font-size: 35px !important;
   font-weight: normal !important;
}

/* galeri kegiatan */

.box .gallery img  {
   
}

section .judulkegiatan{
   font-family: "Sulphur Point";
}

.galerikegiatan span {
   font-size: 40px;
   padding-top: 40px !important;
}

.galerikegiatan h2 {
   font-size: 35px;
}

.galerikegiatan2 {
   font-size: 40px;
   padding-top: 40px !important;
}

.galerikegiatan2 h2 {
   font-size: 35px;
}

.kegiatansekolah {}

.galerikegiatan .gallery  {
   filter: drop-shadow(0px 0px 1px black) !important;
}




/* footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
  }

  .content ul a:hover {
     color: blue !important;
  }

  footer {
     font-family: 'Nunito' !important;
  }

  footer .footer-copyrigth {
   font-family: 'Nunito' !important;
}

